<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>709748397530-9ijiaq3bb3vcpd5e2m1i4ilafsd0ic1l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.709748397530-9ijiaq3bb3vcpd5e2m1i4ilafsd0ic1l</string>
	<key>API_KEY</key>
	<string>AIzaSyDoQu6peq5BxSpWzJv0KcidYiMQeKqW6Xo</string>
	<key>GCM_SENDER_ID</key>
	<string>709748397530</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>srinivas.projects.RishabhDiaryProject</string>
	<key>PROJECT_ID</key>
	<string>rishabhsoftdiary</string>
	<key>STORAGE_BUCKET</key>
	<string>rishabhsoftdiary.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:709748397530:ios:e87112629e668d565ddce3</string>
</dict>
</plist>